<div class="container__section section nav" id="nav">
	
	<div class="section__wrap nav__wrap">

		<ul class="nav__list">
			
			<li class="nav__item">
				
				<a href="ms-onedrive.html" class="nav__href nav__href--1 @@if (active === 1) { nav__href--active } ">
					Интернет-хранилище
				</a>
				
			</li> <!-- /.nav__item -->
			
			<li class="nav__item">
				
				<a href="ms-office365.html" class="nav__href nav__href--2 @@if (active === 2) { nav__href--active } ">
					Любимые приложения
				</a>
				
			</li> <!-- /.nav__item -->
			
			<li class="nav__item">
				
				<a href="https://ad.dnevnik.ru/promo/mie/" class="nav__href nav__href--3 @@if (active === 3) { nav__href--active } ">
					Обучающие курсы
				</a>
				
			</li> <!-- /.nav__item -->
			
			<li class="nav__item">
				
				<a href="ms-onenote.html" class="nav__href nav__href--4 @@if (active === 4) { nav__href--active } ">
					Запуск в октябре
				</a>
				
			</li> <!-- /.nav__item -->
		
		</ul> <!-- /.nav__list -->
	
	</div> <!-- /.nav__wrap -->

</div> <!-- /.nav -->
