/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$logotype-name: 'logotype';
$logotype-x: 0px;
$logotype-y: 149px;
$logotype-offset-x: 0px;
$logotype-offset-y: -149px;
$logotype-width: 115px;
$logotype-height: 55px;
$logotype-total-width: 369px;
$logotype-total-height: 204px;
$logotype-image: '../images/sprite.png';
$logotype: (0px, 149px, 0px, -149px, 115px, 55px, 369px, 204px, '../images/sprite.png', 'logotype', );
$mx-name: 'mx';
$mx-x: 0px;
$mx-y: 112px;
$mx-offset-x: 0px;
$mx-offset-y: -112px;
$mx-width: 171px;
$mx-height: 37px;
$mx-total-width: 369px;
$mx-total-height: 204px;
$mx-image: '../images/sprite.png';
$mx: (0px, 112px, 0px, -112px, 171px, 37px, 369px, 204px, '../images/sprite.png', 'mx', );
$nav-1-hover-name: 'nav-1-hover';
$nav-1-hover-x: 171px;
$nav-1-hover-y: 112px;
$nav-1-hover-offset-x: -171px;
$nav-1-hover-offset-y: -112px;
$nav-1-hover-width: 184px;
$nav-1-hover-height: 31px;
$nav-1-hover-total-width: 369px;
$nav-1-hover-total-height: 204px;
$nav-1-hover-image: '../images/sprite.png';
$nav-1-hover: (171px, 112px, -171px, -112px, 184px, 31px, 369px, 204px, '../images/sprite.png', 'nav-1-hover', );
$nav-1-name: 'nav-1';
$nav-1-x: 115px;
$nav-1-y: 149px;
$nav-1-offset-x: -115px;
$nav-1-offset-y: -149px;
$nav-1-width: 184px;
$nav-1-height: 31px;
$nav-1-total-width: 369px;
$nav-1-total-height: 204px;
$nav-1-image: '../images/sprite.png';
$nav-1: (115px, 149px, -115px, -149px, 184px, 31px, 369px, 204px, '../images/sprite.png', 'nav-1', );
$nav-2-hover-name: 'nav-2-hover';
$nav-2-hover-x: 179px;
$nav-2-hover-y: 0px;
$nav-2-hover-offset-x: -179px;
$nav-2-hover-offset-y: 0px;
$nav-2-hover-width: 190px;
$nav-2-hover-height: 42px;
$nav-2-hover-total-width: 369px;
$nav-2-hover-total-height: 204px;
$nav-2-hover-image: '../images/sprite.png';
$nav-2-hover: (179px, 0px, -179px, 0px, 190px, 42px, 369px, 204px, '../images/sprite.png', 'nav-2-hover', );
$nav-2-name: 'nav-2';
$nav-2-x: 179px;
$nav-2-y: 42px;
$nav-2-offset-x: -179px;
$nav-2-offset-y: -42px;
$nav-2-width: 187px;
$nav-2-height: 42px;
$nav-2-total-width: 369px;
$nav-2-total-height: 204px;
$nav-2-image: '../images/sprite.png';
$nav-2: (179px, 42px, -179px, -42px, 187px, 42px, 369px, 204px, '../images/sprite.png', 'nav-2', );
$nav-3-hover-name: 'nav-3-hover';
$nav-3-hover-x: 179px;
$nav-3-hover-y: 84px;
$nav-3-hover-offset-x: -179px;
$nav-3-hover-offset-y: -84px;
$nav-3-hover-width: 151px;
$nav-3-hover-height: 23px;
$nav-3-hover-total-width: 369px;
$nav-3-hover-total-height: 204px;
$nav-3-hover-image: '../images/sprite.png';
$nav-3-hover: (179px, 84px, -179px, -84px, 151px, 23px, 369px, 204px, '../images/sprite.png', 'nav-3-hover', );
$nav-3-name: 'nav-3';
$nav-3-x: 115px;
$nav-3-y: 180px;
$nav-3-offset-x: -115px;
$nav-3-offset-y: -180px;
$nav-3-width: 151px;
$nav-3-height: 23px;
$nav-3-total-width: 369px;
$nav-3-total-height: 204px;
$nav-3-image: '../images/sprite.png';
$nav-3: (115px, 180px, -115px, -180px, 151px, 23px, 369px, 204px, '../images/sprite.png', 'nav-3', );
$nav-4-hover-name: 'nav-4-hover';
$nav-4-hover-x: 0px;
$nav-4-hover-y: 0px;
$nav-4-hover-offset-x: 0px;
$nav-4-hover-offset-y: 0px;
$nav-4-hover-width: 179px;
$nav-4-hover-height: 56px;
$nav-4-hover-total-width: 369px;
$nav-4-hover-total-height: 204px;
$nav-4-hover-image: '../images/sprite.png';
$nav-4-hover: (0px, 0px, 0px, 0px, 179px, 56px, 369px, 204px, '../images/sprite.png', 'nav-4-hover', );
$nav-4-name: 'nav-4';
$nav-4-x: 0px;
$nav-4-y: 56px;
$nav-4-offset-x: 0px;
$nav-4-offset-y: -56px;
$nav-4-width: 179px;
$nav-4-height: 56px;
$nav-4-total-width: 369px;
$nav-4-total-height: 204px;
$nav-4-image: '../images/sprite.png';
$nav-4: (0px, 56px, 0px, -56px, 179px, 56px, 369px, 204px, '../images/sprite.png', 'nav-4', );
$spritesheet-width: 369px;
$spritesheet-height: 204px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($logotype, $mx, $nav-1-hover, $nav-1, $nav-2-hover, $nav-2, $nav-3-hover, $nav-3, $nav-4-hover, $nav-4, );
$spritesheet: (369px, 204px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
